<h3><%= @title %></h3>


<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, cumque nihil at libero hic eaque unde architecto fugiat quae voluptatem aperiam. Voluptates voluptatibus maxime id, dicta at dolorum tempora molestiae non odio natus harum assumenda ut quos tenetur similique blanditiis magnam reprehenderit saepe distinctio. Vel ab, totam vitae nulla recusandae eos perspiciatis! Dolorem sed commodi blanditiis tenetur? Expedita blanditiis, quisquam nostrum iste eos, repudiandae in quia totam, magni ipsum velit suscipit quo sunt optio doloribus obcaecati laudantium vel, ratione aperiam aliquid sapiente. Non neque quos asperiores, natus ipsa esse! Quia fugiat, ipsa ullam totam expedita error, sequi eaque tempora cumque!</div>