// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input-group{
	margin-bottom: 20px;
}

body{
  width: 100%;
  min-height: auto;
  background: url(https://static.pexels.com/photos/225767/pexels-photo-225767.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

input{
	color: black;
}


.header{
	border-bottom: 1px solid white; 
}



a{
	color: white;
	transition: all 0.35s;
	text-decoration: none;
}


body>.container, .header{
	border-radius: 5px;
	background: rgba(147, 147, 147, 0.5);
	margin: 0, 20px;
}

.cont-2{
	padding: 20px 20px 100px;
	text-align: center;
}

.label-info{
	margin-left: 74%;
}


.btn{
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  border-radius: 15px;
  width: 25%;
}